/* styles.css */

div {
  color: white;
}

* {
  color: purple;
}
.alert-text {
  color: red;
}
#title{
    background-color: blue;

}
.unread,
.read{
    background-color: grey;
}
.subsection.header {
  color: red;
}
